<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Rekomendasi restaurant untukmu" />
    <meta name="theme-color" content="#c1121f" />

    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/3448/3448653.png" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="manifest" href="./app.webmanifest" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />
    <title>Golek Resto</title>
  </head>
  <body>
    <skip-content></skip-content>
    <header>
      <header-navigation></header-navigation>
    </header>
    <main id="content" tabindex="0"></main>
    <footer tabindex="0">Copyright &copy; 2022 - Golek Resto</footer>
  </body>
</html>
